.img-opening {
  
    background-size: cover;
    background-position: center;
   background-repeat: no-repeat;
    background-position: center;
    size-adjust: inherit;
    width: 2228px;
    height: 776px;
}

i.fa-solid.fa-arrow-down {
    color: white;
    position: absolute;
    margin-top: 693px;
}
i {
 color:  rgb(114, 173, 114);
}
a :hover {
color: whitesmoke;
}

.opening-container {
    position: absolute;
    text-align: center;
    top: 42%;
    right: 39%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}

h1  {
    font-size: -webkit-xxx-large;
    color: white;
   margin-bottom: 15px;
   
}

p {
    padding: 10px;
    color: #48c78e;
    text-align: center;
}
.team-text ,.mission-text {
    /* margin-bottom: 237px; */
    display: flex;
    color: rgb(114, 173, 114);
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}



.codiologo {
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-position: left;
    size-adjust: inherit;
    width: 205px;
    height: 224px;
    position: relative;
    right: -132px
    
}    

.mission-container {padding: 50px;

}

.about-p {
    color: white;
}

p.mission-p {
   
    margin-bottom: -43px;
    margin-top: 57px;
    margin-left: 38px;
    font-size: initial;
    text-align-last: center;
}

.container
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}


.container .card
{
    width: 300px;
    height: 400px;
    padding: 60px 30px;
    margin: 20px;
    background: rgb(0, 0, 0);
    box-shadow: 0.6em 0.6em 1.2em white,
                -0.5em -0.5em 1em #ffffff;
                border-radius:20px ;    

}



.container .card .content {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container .card .content .imgBx
{

    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.container .card .content .imgBx .profile-pic 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;



}

.container .card .content .contentBx h4
{

    color:  rgb(125, 212, 125);
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;



}

.container .card .content .contentBx h5
{
    color: #48c78e;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;




}


.container .card .content .socials
{
    margin-top: 3px;




}

.container .card .content .socials a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 10px;

}

footer {
    width: 1800px;
    height: 290px;
    background-color:  rgb(114, 173, 114);
    border-top: solid rgb(0, 0, 0) 1px;
    margin-top: 20px;
}


.codiologo2 {
    position: absolute;
    width: 140px;
    height: 140px;
    margin-top: 90px;
    margin-left: 80px;
    border-radius: 5.0rem;
}

.footer-text {
    position: absolute;
    margin-left: 71px;
    margin-top: 240px;
    color: white;
}

.code-logo {
    text-align: center;
    background-color: rgb(23, 24, 16);
}

.search {
    text-align: center;
}

.button {
    text-align: center;
}


img {
    /* size: 10px; */
    height: auto;
    max-width: 100%;
    width: 71px;
}

.button.is-primary {
    background-color: #f5f5f5;
    border-color: transparent;
    color: black;
}


















@media screen and (max-width: 992px) {
    body { max-width: max-content;
        max-height: fit-content;
     
    }
  }
  