.hero {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/codetunnel.webp");
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 400px;
}







