body {
    background-color: rgb(179, 204, 167);

}

.code-logo {
    text-align: center;
    background-color: rgb(23, 24, 16);
}

.search {
    text-align: center;
}

.button {
    text-align: center;
}


img {
    /* size: 10px; */
    height: auto;
    max-width: 100%;
    width: 71px;
}

.button.is-primary {
    background-color: #f5f5f5;
    border-color: transparent;
    color: black;
}


.gsc-control-cse.gsc-control-cse-en {
    display: flex;
    margin-left: 213px;
    margin-top: 55px;
    boder: 10px;
    /* border: solid; */
    border-block: -508px;
    width: 40%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.button.is-primary:hover {
    background-color: #f5f5f5;
    border-color: transparent;
    color: #fff;
    background-color: #eee;
    border-color: transparent;
    color: rgba(0, 0, 0, .7);
}