/* Search page and google API is by Kenny. Julian contributed to the css too */

body {
    background-color: rgb(114, 173, 114);
}


.search {
    text-align: center;
}

.button {
    text-align: center;
}

#univ-logo {
    /* size: 10px; */
    height: auto;
    max-width: 100%;
    width: 71px;
}

#codio-logo {
    /* size: 10px; */
    height: auto;
    max-width: 100%;
    width: 71px;
}

.button.is-primary {
    background-color: #f5f5f5;
    border-color: transparent;
    color: black;
}


.gsc-control-cse.gsc-control-cse-en {
    display: flex;
    margin-left: 213px;
    margin-top: 55px;
    border: 10px;
    /* border: solid; */
    width: 40%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.button.is-primary:hover {
    background-color: #ffffff;
    border-color: transparent;
    color: rgb(0, 0, 0);
    background-color: #eee;
    border-color: transparent;
    color: rgba(0, 0, 0, .7);
}



.navbar-link:not(.is-arrowless)::after {
    border-color: black;
    margin-top: -0.375em;
    right: 1.125em;
}

.navbar-item,
.navbar-link {
    color: black;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
    background-color: #fafafa;
    color: #4baf7a;
}

.footer {
    background-color: #72ad72;
}