
body{
    background-image: url(/assets/images/image.png);
    background-size: cover;
    }

.code-logo{ 
   text-align: center;
   
    }

    .search{
        text-align: center;
    }

    .button{
        text-align: center;
    }

   .navbar{
    background-color: rgb(114, 173, 114);
   }

<<<<<<< HEAD
    img {
        /* size: 10px; */
        height: auto;
        max-width: 100%;
        width: 71px;
    }

    .button.is-primary {
            background-color: #f5f5f5;
            border-color: transparent;
            color: black;
        }
        
        
 .gsc-control-cse.gsc-control-cse-en {
            display: flex;
            margin-left: 213px;
            margin-top: 55px;
            border: 10px;
            /* border: solid; */
            border-block: -508px;
            width: 40%;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
        }

        .button.is-primary:hover {
            background-color: #f5f5f5;
            border-color: transparent;
            color: #fff; 
            background-color: #eee;
            border-color: transparent;
            color: rgba(0,0,0,.7);
        }
        
=======
  .hero-text {
    text-align: left;
    position: relative ;
    margin-top: 400px;
    margin-left: 500px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(1, 0, 0);
    font-family: fantasy;
    font-size: 46px;
    text-decoration: underline;
  }
  
>>>>>>> ec2fc33bba6afc5b1a745b77ec7873e93b034a69
