
body{
    background-image: url(/assets/images/image.png);
    background-size: cover;
    }

.code-logo{ 
   text-align: center;
   
    }

    .search{
        text-align: center;
    }

    .button{
        text-align: center;
    }

   .navbar{
    background-color: rgb(114, 173, 114);
   }

  .hero-text {
    text-align: left;
    position: relative ;
    margin-top: 400px;
    margin-left: 500px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(1, 0, 0);
    font-family: fantasy;
    font-size: 46px;
    text-decoration: underline;
  }
  
